{% extends 'master.html' %}
{% block contenido %}

<div class="container">
    <h2 style="text-align: center;">Tabla de Cuentas</h2>
    <div class="row p-4">

        <table class="table table-info">
            <thead>
                <tr class="table table-dark">
                    <th>Numero</th>
                    <th>Saldo</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {%for cuenta in cuentas %}
                <tr>
                    <td><a href="{% url 'modificarCuenta' cuenta.numero%}">{{cuenta.numero}}</a></td>
                    <td>{{cuenta.saldo}}</td>
                    <td>{{cuenta.estado}}</td>
                    <td>{{cuenta.tipoCuenta}}</td>
                    <td>
                        <a href="{% url 'eliminarCuenta' cuenta.numero %}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <a href="{% url 'crearCuentas' cliente.cedula%}"><button type="submit" class="btn btn-primary">Nueva Cuenta
        </button></a>
</div>

{% endblock %}