{% extends 'master.html' %}
{% block contenido %}
<div class="container">
    <div class="row p-4">
        <div id="task-resukt">
            <ul id="container"></ul>
        </div>
        <table class="table table-info">
            <thead>
                <tr class="table table-dark">
                    <th>Numero</th>
                    <th>Saldo</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {%for cuenta in listaCuentas %}
                <tr>
                    <td><a href="{% url 'cuentaCliente' cuenta.numero %}">{{cuenta.numero}}</a></td>
                    <td>{{cuenta.saldo}}</td>
                    <td>{{cuenta.estado}}</td>
                    <td>{{cuenta.tipoCuenta}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}