<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Tabla Cuentas</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Clientes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Info</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 style="text-align: center;">Tabla de Cuentas</h2>
        <div class="row p-4">
            <div class="col-md-7">
                <div id="task-resukt">
                    <ul id="container"></ul>
                </div>
                <table class="table table-bordered table-sm table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Saldo</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody id="tasks">
                        {%for cuenta in cuentas %}
                        <tr>
                            <td><a href="{% url 'modificarCuenta' cuenta.numero%}">{{cuenta.numero}}</a></td>
                            <td>{{cuenta.saldo}}</td>
                            <td>{{cuenta.estado}}</td>
                            <td>{{cuenta.tipoCuenta}}</td>
                            <td>
                                <a href="{% url 'eliminarCuenta' cuenta.numero %}">Eliminar</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'crearCuentas' cliente.cedula%}">Nueva Cuenta</a>
</body>

</html>