{% extends 'master.html' %}
{% block contenido %}

<div class="container">
    <div class="card w-50" style="display: block; margin-left: auto; margin-right: auto; padding: 2%; margin-top: 5%;">
        <h5 class="card-header">Cliente : {{cliente.nombres}} {{cliente.apellidos}}</h5>
        <div class="card-body">
            <h5 class="card-title">Cedula</h5>
            <p class="card-text">{{cliente.cedula}}</p>
            <hr>
            <h5 class="card-title">Correo</h5>
            <p class="card-text">{{cliente.correo}}</p>
            <hr>
            <h5 class="card-title">Saldo</h5>
            <p class="card-text">{{cuenta.saldo}}</p>
            <hr>
            <h5 class="card-title">Estado</h5>
            <p class="card-text">{{cuenta.estado}}</p>
            <hr>
            <div class="botones">
                <a href="{% url 'depositar' cuenta.numero%}" class="btn btn-primary">Deposito</a>
                <a href="#" class="btn btn-primary">Retiro</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}