{% extends 'master.html' %}
{% block contenido %}
<form method="POST" class="row g-3" style="padding: 20px;;"> {% csrf_token %}
    <div class="col-md-6" style="display: block; margin-left: auto; margin-right: auto;">
        <div class="texto">
            <h1 style="text-align: center;">CLIENTE</h1>
        </div>
        {{formCliente.as_p}}
        <div class="texto">
            <h1 style="text-align: center;">CUENTA</h1>
        </div>
        {{formCuenta.as_p}}
    </div>
    <div class="col-12">
        <button type="submit" type="button" class="btn btn-primary"
            style="display: block; margin-left: auto; margin-right: auto;">Crear</button>
    </div>
</form>
{% endblock %}