{% extends 'master.html' %}
{% block contenido %}

<div class="container">
    <form method="POST" class="row row-cols-lg-auto g-3 align-items-center"
        style="text-align: center; margin-top: 20px;">{% csrf_token %}
        <div class="col-9">
            <div class="input-group">
                <div class="input-group-text">Search</div>
                <input type="text" class="form-control" name="busqueda" placeholder="Ingrese su busqueda">
            </div>
        </div>
        <div class="col-9">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row p-4">
        <table class="table table-info">
            <thead>
                <tr class="table table-dark">
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {%for cliente in listaClientes %}
                <tr>
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.nombres}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>++|--</td>
                    <td>
                        <a href="{% url 'cuentas' cliente.cedula %}">Cuentas</a>
                    </td>
                    <td>
                        <a href="{% url 'modificarClientes' cliente.cliente_id %}">Modificar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminarClientes' cliente.cliente_id %}">Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <a href="{% url 'crearClientes' %}"><button type="submit" class="btn btn-primary">Nuevo Cliente</button></a>
</div>
{% endblock %}