#fila1{
    color: aquamarine;
    background-color: crimson;
}

#fila2{
    color: blueviolet;
}

#fila3{
    color: crimson;
}

#fila4{
    color: rgb(38, 86, 141);
}
#fila5{
    color: rgb(220, 20, 170);
}
#fila6{
    color: rgb(36, 245, 9);
}
#fila7{
    color: rgb(220, 77, 20);
}
#fila8{
    color: rgb(121, 22, 116);
}

/* Segunda Columna */
td+td{
    background-color: darkblue;
}

td+td+td{
    background-color: darkmagenta;
}