{% extends 'master.html' %}

{% block contenido %}
<div class="container">
    <div class="row p-4">
        <table class="table table-info">
            <thead>
                <tr class="table table-dark">
                    <th>Fecha</th>
                    <th>Cantidad comprada</th>
                    <th>Total a Pagar</th>
                </tr>
            </thead>
            <tbody id="tasks">
                {%for venta in listaVentas %}
                <tr>
                    <td>{{venta.fecha}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.total}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <a href="{% url 'ventas'%}"><button type="submit" class="btn btn-primary">Regresar a Productos</button></a>
</div>
{% endblock %}