<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Tabla Clientes</title>
</head>

<body class="body" style="background:gainsboro;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transacciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form method="POST" class="row row-cols-lg-auto g-3 align-items-center"
            style="text-align: center; margin-top: 20px;">{% csrf_token %}
            <div class="col-9">
                <div class="input-group">
                    <div class="input-group-text">Search</div>
                    <input type="text" class="form-control" name="busqueda" placeholder="Ingrese su busqueda">
                </div>
            </div>
            <div class="col-9">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row p-4">
            <table class="table table-info">
                <thead>
                    <tr class="table table-dark">
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tasks">
                    {%for cliente in listaClientes %}
                    <tr>
                        <td>{{cliente.cedula}}</td>
                        <td>{{cliente.apellidos}}</td>
                        <td>{{cliente.nombres}}</td>
                        <td>{{cliente.correo}}</td>
                        <td>++|--</td>
                        <td>
                            <a href="{% url 'cuentas' cliente.cedula %}">Cuentas</a>
                        </td>
                        <td>
                            <a href="{% url 'modificarClientes' cliente.cliente_id %}">Modificar</a>
                        </td>
                        <td>
                            <a href="{% url 'eliminarClientes' cliente.cliente_id %}">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <a href="{% url 'crearClientes' %}"><button type="submit" class="btn btn-primary">Nuevo Cliente</button></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>


</html>