header{
    width: 100%;
    background-color: #234354;
    top: 0;
    left: 0;
    z-index: 100;
}

#btnMenu{
    display: none;
}

header label{
    display: none;
    width: 60px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
    transition: all 500ms ease;
}

header label :hover{
    background-color: rgba(0, 0, 0,0.3);
    cursor: pointer;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 75px;
    transition: all 500ms ease;
}

.menu li a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

@media(max-width:768px){
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        background: #234354;
        width: 100%;
        margin-top:  -100%;
        transition: all 500ms ease;
    }
    .menu ul{
        flex-direction:  column;
        border-top: 1px solid #fffa;
    }
    #btnMenu:checked ~ .menu {
        margin: 0;
    }
}