<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Registro Notas</title>
    </head>

<body>


    <div class="contenedor" style="text-align: center;">
        <h1>Promedio</h1>
        <p>{{prom}}</p>
        <a href="/calificaciones">Regresar al Index</a>
    </div>

</body>
</html>
